#conference-content {
    width: 100%;
    height: 100%;
    padding-left: 75px;
    padding-right: 15px;
    overflow: hidden;
    margin-top: 10px;
    display: none;

    .conference-content__header{
        transition: all 0.5s;
    }

    .conference-content-btnGroup{
        #conference-content__startBtn{
            background-color: #193498;
            color: white;
            outline: none;
        }
    }
    

    .conference-content-iframe{
        box-sizing: border-box;
        width: 90vw;
        height: 90%;
        margin-left: 50%;
        transform:translateX(-50%);
        text-align: center;
        padding-top: 10px;

        iframe{
            margin-left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 2px solid #0093FF;
        }
    }
}

@media screen and (max-width: 768px) {
    #conference-content {
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
}