#leftbar {
    display: none;
    z-index: 99;

    .lbi-lagblaster, .lbmi-lagblaster{
        // Temporary hide
        display: none;
    }

  
    // .icon-video-camera:before {
    //     background-size: 110px 110px !important; 
    //     height: 110px !important;
    //     width: 110px !important;
    //     margin: 0 auto;
    // }
    
}

#leftbar-mobile {
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);

    .lbm-item {
        box-shadow: none !important;
        padding: 0;
        height: 40px;
        width: 50px;
        margin: 0 10px;
        color: #fff;
        text-align: center;
        &.active {
            border-bottom: 1px solid;
            border-radius: 0;
        }

        .icon-cart:before {
            background-size: 20px 20px;
            height: 20px;
            width: 20px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 768px) {
    #leftbar-mobile {
        z-index: 99;
        opacity: 1;
        background-color: #4973D2;
    }

    #frame {
        height: calc(100% - 40px);
        position: relative;
        top: 40px;
    }
    .lbmi-lagblaster{
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .lbmi-welcome{
        // Temporary hide Lagblaster
        display: none;
        position: absolute;
        left: 8px;
        top: 3px;
        color: white;
        font-size: 14px;
        width: 100px;
        .lb-welcome__avatar img{
            width: 35px;
            height: 35px;
            border-radius: 100%;
        }
        .lb-welcome-wc__name{
            position: absolute;
            left: 43px;
            top: 8px;
        }
    }
}

@media screen and (min-width: 768px) {
    #leftbar-mobile {
        display: none;
    }

    #frame {
        width: calc(100% - 60px);
        position: relative;
        left: 60px;
    }

    #leftbar {
        display: block;
        position: fixed;
        left: 0;
        width: 60px;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.65);
        .lb-cuser-avatar {
            padding: 10px;
            cursor: pointer;
        }

        .lb-item {
            position: relative;
            width: 60px;
            height: 62px;
            color: #fff;
            cursor: pointer;
            &:hover, &.active {
                background: rgba(255, 255, 255, 0.2);
            }

            i {
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
            }
        }

        .lbi-chats {
            font-size: 30px;
        }

        .lbi-cart {
            font-size: 24px;
        }

        .lb-options-group {
            position: absolute;
            bottom: 0;
            color: #fff;
            font-size: 18px;
            .lbogi-icon {
                cursor: pointer;
                width: 60px;
                line-height: 40px;
                text-align: center;
                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                }
            }

            .lbog-collapse i {
                display: inline-block;
                transform: rotate(-90deg);
            }

            .lbog-collapse.indent i {
                transform: rotate(90deg);
            }

            .lbog-users .xm-dropdown {
                bottom: 70px;
                left: 61px;
                > div {
                    cursor: pointer;
                }
            }

            .lbog-options .xm-dropdown {
                bottom: 30px;
                left: 61px;
                > div {
                    cursor: pointer;
                }
            }
        }
    }
}