#leftbar {
    display: none;
}

@media screen and (min-width: 768px) {
    #frame {
        width: calc(100% - 60px);
        position: relative;
        left: 60px;
    }

    #leftbar {
        display: block;
        position: fixed;
        left: 0;
        width: 60px;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.65);
        .lb-cuser-avatar {
            padding: 10px;
        }
    }
}