.menu {
    .menu__item.--pin {
        .icon-pin-outline {
            font-size: 17px;
        }

        .pulse {
            width: 20px;
            height: 20px;
            margin-right: 1px;
        }
    }
}

.pin-message-status-bar {
    width: 100%;
    background: white;
    position: absolute;
    top: 60px;
    z-index: 9;
    overflow: hidden;
    transition: all .3s;
    color: black;

    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 16px #ccc;

    .pin-mess-details {
        width: 95%;
        display: flex;
        align-items: center;

        .latest-pinned-message {
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            div:first-child {
                font-style:oblique;
                font-size: 12px;
            }

            .pin-name {
                color:#0093FF;
            }

            .pin-text {

            } 
        }

        .icon-pin {
            font-size: 20px;
            padding-right: 1rem;
        }
    };

    .pin-mess-action {
        button {
            width: 1.6em;
            height: 1.6em;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            margin-right: 0.5em;
        }
    }
}

.main-right.mobile {
    .pin-message-status-bar {
        padding: 5px;
        .pin-mess-details {
            width: 85%;
           
            .latest-pinned-message {
                font-size: 13px; 
            }

            .icon-pin {
                padding-right: 5px;
            }
        };

        .pin-mess-action {
            button {
                margin-right: 0.2em;
            }
        }
    }
}

.messages__item {
    .pin-mess-icon {
        position: absolute;
        top: -2px;
        right: 5px;
        display: none;
    }
}

.messages__item.pinned {
    .pin-mess-icon{
        display: block !important;
    }
}