@media screen and (min-width: 768px) {
    .sidebar {
        .profile--mini {
            display: none;
        }

        #search {
            margin-top: 13px;
            margin-bottom: 13px;
        }

        .contacts {
            height: calc(100% - 60px);
        }
    }

    #frame.indent {
        .sidebar {
            .contacts {
                height: calc(100% - 60px);
            }
        }
    }
}