.view-media-files-wraper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    // border: 1px solid red;
    background-color: white;

    .media-files-content{
        position: relative;
        border: 2px solid blue;
        height: calc(100vh - 90px);
        overflow-y: auto;
        padding: 20px 20px 60px 20px;
        .view-media-list{
           
            .media-container {
                position:absolute;
                top: 40px;
                display: grid;
                grid-template-columns: auto auto auto;
                // grid-template-rows: repeat(20, 200px);
                grid-gap: 30px;

                .gallery__item{
                    height: 180px;
                     border: 1px solid red;
                    .gallery__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.view-media-files-wraper.hidden{
    display: none !important;
}

.view-media-files-wraper.slideIn{
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        left: 100vw;
    }

    100% {
        left: 0;
    }
}

.view-media-files-wraper.slideOut{
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes slideOut {
    0% {
        left: 0;
    }

    100% {
        left: 100vw;
    }
}