{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "globals": {
        "$": "readonly",
        "jQuery": "readonly",
        "jsrender": "readonly",
        "window": "readonly",
        "define": "readonly",
        "document": "readonly",
        "Notification": "readonly",
        "easyrtc": "readonly"
    },
    "rules": {
        "indent": 0,
        "import/no-amd": 0,
        "import/no-unresolved": 0,
        "global-require": 0,
        "no-trailing-spaces": 0,
        "arrow-parens": 0,
        "comma-dangle": ["error", "never"]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["app"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}