@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gdv4ud');
  src:  url('fonts/icomoon.eot?gdv4ud#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gdv4ud') format('truetype'),
    url('fonts/icomoon.woff?gdv4ud') format('woff'),
    url('fonts/icomoon.svg?gdv4ud#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\e940";
}
.icon-star-empty:before {
  content: "\e941";
}
.icon-microphoneVoice:before {
  content: "\e93e";
  color: #b2b2b2;
}
.icon-microphoneVoiceBlue:before {
  content: "\e93f";
  color: #0093ff;
}
.icon-zoom-out:before {
  content: "\e900";
}
.icon-zoom-in:before {
  content: "\e901";
}
.icon-all-directions:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-keyboard-dark:before {
  content: "\e904";
}
.icon-keyboard:before {
  content: "\e905";
}
.icon-maximize-window:before {
  content: "\e906";
}
.icon-minimize-window:before {
  content: "\e907";
}
.icon-shopping-cart:before {
  content: "\e908";
}
.icon-angle-down:before {
  content: "\e909";
}
.icon-angle-up:before {
  content: "\e90a";
}
.icon-bars:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-camera:before {
  content: "\e90d";
}
.icon-check-square:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90f";
}
.icon-chevron-down:before {
  content: "\e910";
}
.icon-chevron-up:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e912";
}
.icon-cog:before {
  content: "\e913";
}
.icon-comment-o:before {
  content: "\e914";
}
.icon-comments:before {
  content: "\e915";
}
.icon-desktop:before {
  content: "\e916";
}
.icon-download:before {
  content: "\e917";
}
.icon-edit:before {
  content: "\e918";
}
.icon-ellipsis-v:before {
  content: "\e919";
}
.icon-envelope:before {
  content: "\e91a";
}
.icon-external-link:before {
  content: "\e91b";
}
.icon-file-o:before {
  content: "\e91c";
}
.icon-fullscreen:before {
  content: "\e91d";
}
.icon-home:before {
  content: "\e91e";
}
.icon-info-circle:before {
  content: "\e91f";
}
.icon-key:before {
  content: "\e920";
}
.icon-language:before {
  content: "\e921";
}
.icon-mail-forward:before {
  content: "\e922";
}
.icon-map-marker:before {
  content: "\e923";
}
.icon-microphone-slash:before {
  content: "\e924";
}
.icon-microphone:before {
  content: "\e925";
}
.icon-music:before {
  content: "\e926";
}
.icon-paper-plane:before {
  content: "\e927";
}
.icon-paperclip:before {
  content: "\e928";
}
.icon-pause:before {
  content: "\e929";
}
.icon-phone-slash:before {
  content: "\e92a";
}
.icon-phone:before {
  content: "\e92b";
}
.icon-photo:before {
  content: "\e92c";
}
.icon-pie-chart:before {
  content: "\e92d";
}
.icon-play-circle-o:before {
  content: "\e92e";
}
.icon-play:before {
  content: "\e92f";
}
.icon-poll-h:before {
  content: "\e930";
}
.icon-search:before {
  content: "\e931";
}
.icon-send:before {
  content: "\e932";
}
.icon-sign-out:before {
  content: "\e933";
}
.icon-sliders:before {
  content: "\e934";
}
.icon-smile-o:before {
  content: "\e935";
}
.icon-trash:before {
  content: "\e936";
}
.icon-user:before {
  content: "\e937";
}
.icon-users:before {
  content: "\e938";
}
.icon-video-camera:before {
  content: "\e939";
}
.icon-video-slash:before {
  content: "\e93a";
}
.icon-volume-mute:before {
  content: "\e93b";
}
.icon-volume:before {
  content: "\e93c";
}
.icon-cart:before {
  content: "\e93d";
}

  .icon-lb:before {
    display: block;
    content: ' ';
    background-image: url('../images/lablogo.svg');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  }

  .icon-payment:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-payment.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  }

  .icon-payment-active:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-payment-active.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  }

  .icon-home2:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-home2.svg');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  }

  .icon-home2-active:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-home2-active.svg');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  }

  .icon-user2:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-user2.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  } 

  .icon-user2-active:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-user2-active.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  } 

  .icon-add:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-add.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  } 

  .icon-renew:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-renew.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  } 

  .icon-change:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-change.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  }

  .icon-transaction-success:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-transaction-success.png');
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
  } 

  .icon-transaction-fail:before {
    display: block;
    content: ' ';
    background-image: url('../images/icon-transaction-fail.png');
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
  } 