.js-btn-spin .--spin {
	animation-name: spin1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	display: inline-block;
	animation-direction: alternate
}

@keyframes spin1 {
	0% {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

img {
	max-width: 100%;
}

.login {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px
}

.login__header {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	margin-top: auto;
	position: relative;
	color: #fff;
}

.login__logo {
	width: 60px
}

.login__title {
	margin-top: 12px;
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 400
}

.login__form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 3em;
	color: #555
}

.login__btn-submit {
	border-radius: 8px;
	font-size: 1.3rem;
	font-weight: 400;
	padding: 8px 0;
	background: #007af5;
	white-space: nowrap;
	border: none;
	color: #fff;
	width: 100%;
	height: 47px;
}

.login__btn-submit:hover {
	box-shadow: 0 0 10px;
	cursor: pointer;
}


.thirdparty-login-btn-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.thirdparty-login-btn {
	background-color: #484848;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 0;
	position: relative;
	margin: 0 1rem;
}

.thirdparty-login-btn:hover {
	box-shadow: 0 0 10px;
	cursor: pointer;
}

.thirdparty-login-btn:disabled {
	background-color: #6d6868;
}

.thirdparty-login-btn.erp svg {
	width: 55px;
	height: 47px;
	position: relative;
	left: -3.5px;
}

.thirdparty-login-btn .--login-btn-spiner{
	position: absolute;
	left: 23%;
	top: 23%;
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .thirdparty-login-btn .--login-btn-spiner{
		position: absolute;
		left: 23%;
		top: 23%;
	}
}

.thirdparty-login-btn.google svg {
	position: relative;
	left: 1px;
}

.thirdparty-login-btn.lagblaster{
	display: none;
}
.thirdparty-login-btn.lagblaster div {
	font-size: 10px;
	color: white;
}

.thirdparty-login-btn.erp .st0 {
	fill:#fff;
}

.thirdparty-login-btn.erp .st1 {
	fill:#fff;
}

.login__btn-signup {
	border-radius: 8px;
	font-size: 1rem;
	font-weight: 400;
	padding: 5px 10px;
	background: 0 0;
	white-space: nowrap;
	text-transform: uppercase;
	border: none;
	color: #fff;
	display: inline-block;
	margin-top: 1.5em;
}

.login__btn-signup:hover {
	text-decoration: underline;
	text-shadow: 0 0 10px;
	cursor: pointer
}

.login__btn-forgot {
	float: right;
	border: none;
	background: 0 0;
	padding: 0;
	color: #cac8c8;
	font-size: 1rem;
	text-decoration: underline;
}

.login__btn-forgot:hover {
	text-shadow: 0 0 10px;
	color: #fff;
	cursor: pointer;
}

.login input:required:invalid {
	color: #f60
}

.neccessary-wrapper {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.mess {
	float: left;
	color: #fff;
}

.form-style {
	display: block;
	background: rgba(0, 0, 0, .3);
	padding: 1rem;
	overflow-y: auto;
	border-radius: 8px;
	margin-top: 2rem;
	width: 100%;
	max-width: 360px;
	margin-left: auto;
	margin-right: auto
}

.reset-password2 {
	max-width: 430px
}

.wrap-login .popup__heading {
	margin-bottom: 2rem;
	margin-top: 2rem;
	color: #fff
}

.wrap-login .popup__bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.wrap-login .popup__bottom .btn {
	flex: auto
}

.form__line+.form__line {
	margin-top: 1.5rem
}

.form__label {
	width: 6rem;
	display: none;
	margin-bottom: .75rem
}

.form__input {
	border: none;
	padding: .5rem .75rem;
	border-radius: 8px;
	flex: auto
}

.form-control {
	height: 47px!important;
	width: 100%;
	padding: 12px 17px!important;
	outline: 0;
	border: none;
	border-radius: 8px;
	background: #fff;
	font-size: 1.25rem;
	color: #555
}

.form-control ::-webkit-input-placeholder {
	font-size: 1em;
	color: #555
}

.form-control :-moz-placeholder {
	font-size: 1em;
	color: #555
}

.form-control ::-moz-placeholder {
	font-size: 1em;
	color: #555
}

.form-control :-ms-input-placeholder {
	font-size: 1em;
	color: #555
}

.form-control+.form-control {
	margin-top: 1.5rem
}

.form-control2 {
	padding: .5rem .75rem!important;
	height: 40px!important;
	margin-bottom: 0;
	background: rgba(255, 255, 255, .9)
}

.reset-password,
.sign-up {
	display: none
}

.xm-current-version{
	color: rgb(255, 255, 255);
	font-size: 13px;	
	text-align: center;
	padding: 4px;
	font-weight: bold;
}

@media (max-width: 767px) {
	.xm-current-version{
		width: 100%;
		background-color:rgba(0, 0, 0, 0.459)
	}
}

.download-app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 0px;
	max-width: 360px;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 9px;
}

.download-app__link {
	display: inline-block;
	margin: 5px 8px;
	overflow: hidden;
	position: relative;
	flex: auto;
	transition: .1s all linear;
	transition-delay: .2s;
	text-align: center
}

.download-app .apk {
	background: #000;
	padding: 0 .5rem;
	flex: none;
	border: 1px solid rgba(255, 255, 255, .9);
	border-radius: 7px;
	text-decoration: none;
	height: 42px;
	line-height: 42px;
	color: #fff;
	font-size: .9rem;
	text-decoration: underline
}

.download-app__img {
	height: 45px;
	object-fit: contain
}

.js-global {
	display: none
}

.js-global.active {
	display: block
}

.js-global.login.active {
	display: flex
}

.msg--status {
	height: 0;
	overflow: hidden;
	transition: height .2s linear
}

.msg--status.active {
	margin-top: 1rem;
	color: #08c;
	height: 35px
}

.xmmc-modal .modal-dialog {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 450px
}

.xmmc-modal .modal-title {
	color: #08c
}

#changeLanguage .clm-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer
}

#changeLanguage .clm-item:hover {
	background-color: rgba(0, 0, 0, .1)
}

#changeLanguage .clm-item svg {
	width: 50px;
	margin: 0 20px
}

#changeLanguage .clm-item .clmi-text {
	font-size: 1.1rem
}

#changeLanguage .clm-item .clmi-radio {
	width: 20px;
	height: 20px;
	border: 1px solid #dee2e6;
	display: inline-block;
	border-radius: 50%;
	background-color: #fff;
	margin-left: 10px
}

#changeLanguage .clm-item.active .clmi-radio {
	border: 6px solid #08c
}

.wrap-login {
	justify-content: center;
	flex-direction: column;
    display: flex;
	width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #06c 0, rgba(0, 102, 204, .6) 50%, rgba(0, 102, 204, .6) 65%, rgba(0, 102, 204, .4) 100%), url(../images/login-background.png) no-repeat center/cover;
    font-family: "Roboto Condensed", Roboto, Helvetica, Noto SJK, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", Arial, sans-serif;
	font-size: 1rem
}

.wrap-login .language-select {
	position: absolute;
	right: 0;
	padding: 7px;
	border-radius: 4px;
	cursor: pointer
}

.wrap-login .language-select:hover {
	background: rgba(0, 0, 0, .2)
}

.wrap-login .language-select svg {
	fill: #fff;
	position: relative;
	top: -1px;
	margin-right: 2px
}

.wrap-login .language-select span {
	font-size: 12px;
	text-transform: uppercase
}

.wrap-login .captcha-wrapper {
	width: 200px;
    height: 86px;
	position: relative;
}

.wrap-login .captcha-wrapper .btn {
	position: absolute;
    right: -45px;
    top: 23px;
	box-shadow: none;
}

.wrap-login .captcha-wrapper .btn svg {
	fill: #fff;
}

.wrap-login .captcha-wrapper .pulse {
	position: absolute;
    top: 13px;
    left: 70px;
}

.or-sign-in {
	margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: #cac8c8;
    position: relative;
    width: 100%;
    text-align: center;
}

.or-sign-in:before,
.or-sign-in:after {
	content: '';
	border-bottom: 1px solid #cac8c8;
	position: absolute;
	width: 30%;
	left: 0;
	top: 11.5px;
}

.or-sign-in:after {
	left: auto;
	right: 0;
}

.erp-login-form {
	width: 100%;
    margin-left: 130px;
    margin-top: 3.5rem;
    position: relative;
}

.erp-login-form img {
	width: 150px;
    height: 150px;
    position: absolute;
    left: -180px;
    top: 0;
}

.erp-login-form  .erp-cancel-btn {
	width: 48%;
    float: left;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 8px 0;
    white-space: nowrap;
    border: none;
    color: #fff;
    height: 47px;
}

.erp-login-form .login__btn-submit {
	width: 48%;
	float: right;
}

/* Lagblaster Login Form */
.lagblaster-login-form {
	width: 100%;
    margin-top: 3.5rem;
    position: relative;
}

.lagblaster-login-form img {
	width: 150px;
    height: 150px;
    position: absolute;
    left: -180px;
    top: 0;
}

.lagblaster-login-form  .lagblaster-cancel-btn {
	width: 48%;
    float: left;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 8px 0;
    white-space: nowrap;
    border: none;
    color: #fff;
    height: 47px;
}

.lagblaster-login-form .login__btn-submit {
	width: 48%;
	float: right;
}
/* End Lagblaster Login Form */ 

@media screen and (max-width: 5768px) {
    .erp-login-form {
		margin-left: 0;
		margin-top: 3rem;
	}
	
	.erp-login-form img {
		display: none;
	}
}

@media (max-width: 767px) {
	/* Style for Safari */
/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
	.thirdparty-login-btn.erp svg {
		left: -15px;
	}
	
	.thirdparty-login-btn.google svg {
		position: relative;
		left: -4px;
	}
}}

/* Safari 10.1 */
@media not all and (min-resolution:.001dpcm){ 
@supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
	.thirdparty-login-btn.erp svg {
		left: -15px;
	}
	
	.thirdparty-login-btn.google svg {
		position: relative;
		left: -4px;
	}
}}
	
}

