button {
    outline: none !important;
}

#alert-wrapper {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30%;
    z-index: 99999;
}
  
#alert-wrapper .alert {
    position: relative;
}
  
#alert-wrapper .alert .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;
}
  
#alert-wrapper .alert .fa {
    margin-right:.3em;
}

.input-only-view {
    right: 10px;
    top: 9px;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    filter: brightness(0) invert(1);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAsQAAALEBxi1JjQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAGKSURBVFiF7dexShxRFMbxn7JdcLUwRRI7QdAiaYxIQMQiKVP4ACmE9D6CKbRLEbDUQNIIkjdIQAgW2iWlCSGIkF4kCaJmLWYWD+O4mZldtZkPBs49M/d8/7kzXO6hmF7gL1oVrhP8wAqGCvpd0lpF8+z1Dfdj4b6CAHfxEs0K8A3MYCodf8LTCnW6Uj/euViJhzcNABMBYKGdbOQ82MQi5jEioS+qM+xjE6v4E+79ynjkagR7evPDfcFwqD0U7i22k9kV2MBYGn/F58xb/E8DmMM4HuEtnhed/CQQriu39FENfAi1xtN87gpEk+kQL+FfRYBTvLqi7iVFgIEQH1Q0z5vfce+IAEU3pbLqWLfqd+6ZaoAaoAaoAWqA2wJo3QbAoeSQc4yddjLvTHhdamESd1IY3PwnOI3mWYCjEN/r0uhBiA+vfCqjWRdntjddmPfjfajVsQnpy8S7eJyOt7GF3yXMm5K2q13jI56VmG9U0lj0oi/Yk2lEi2oYr/FT8tOUbcW/YxmDRczOAYfhkHKLmuOxAAAAAElFTkSuQmCC)
}

.meeting-video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #131516;
}

.mvw-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.mvww-owner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.mvww-normal {
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    position: absolute;
}

.mvwmb-url {
    background: rgba(28,32,37,.5);
    width: 382px;
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
    border-radius: .25rem;
    margin-bottom: 18px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: background .3s;
    position: relative;
}

.mvwmb-url:hover {
    background: rgba(28,32,37,.9);
}

.mvwmb-placeholder,
.mvwmb-url:hover .mvwmb-copy {
    display: none;
}

.mvwmb-url:hover .mvwmb-placeholder {
    display: block;
}

.mvwmb-join-btn {
    width: 382px;
}

.mvwm-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(transparent,#000);
}

.mvwm-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 24px;
    z-index: 10;
}

.btn-round {
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
}

.btn-round.turn-off {
    color: #fff;
    background-color: #17549d;
}

.btn-round:hover {
    color: #fff;
    background-color: #007bff;
}

.btn-round.turn-off span {
    width: 25px;
    height: 1px;
    position: absolute;
    display: block;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.mvwmb-group-btn .btn-round {
    margin: 0 5px;
}

.mvwmb-group-btn {
    margin-top: 18px;
}